.item {
    margin: 1rem 0;
  }
  
  .imageContainer {
    position: relative;
  }
  
  .image {
    width: 100%;
    height: auto;
  }
  
  .favIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  .favIcon:hover, .favIcon:active {
    border-radius: 20px;
    width: 50px;
    height: 35px;
    background-color: #ffe2ed;
  }
  
  .content {
    text-align: center;
    padding: 1rem;
  }
  
  .content h3 {
    font-size: 1.25rem;
  }
  
  .actions {
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  
  .actions svg {
    font: inherit;
    cursor: pointer;
    color: #77002e;
    height: 30px;
    width: 30px;
  }
  
  .actions svg:hover,
  .actions svg:active {
    border-radius: 20px;
    width: 50px;
    height: 35px;
    color: #5b0123;
    background-color: #ffe2ed;
  }