.alert {
    display: flex;
    flex-direction: column;
    background-color: goldenrod;
    color: white;
    width: 200px;
    height: 100px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.parent {
    display: flex;
    justify-content: end;
}
